










<div ng-include="'views/inc/usernav.html'"></div>


<!DOCTYPE html>
<html>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>



<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="views\image\HomeMap.jpg" alt="Map" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>NESTO</b></span> <span class="w3-xxlarge w3-text-red">HIRE</span></h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Areas We Are Covering</h3>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Dhaka</div>
        <img src="views\image\DhakaView.jpg" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Sylhet</div>
        <img src="views\image\Sylhet.jpg" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Chitagong</div>
        <img src="views\image\radisson-blu-chittagong.jpg" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Comilla</div>
        <img src="views\image\maxresdefault.jpg" alt="House" style="width:100%">
      </div>
    </div>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Barishal</div>
        <img src="views\image\Barisal_Skyline.jpg" alt="House" style="width:99%">
      </div>
   
    
  </div>

  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p>We Prefer Luxury over anything else. This is a demo project. There is something we can't complete. But our plan is to make it workable and bring it to a sustainable business.
    </p>
  </div>
<h2> Team Players</h2>
  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="views\image\Sir.jpg" alt="Tanvir" style="width:100%">
      <h3>Tanvir Ahmed</h3>
      <p class="w3-opacity">Honorable Faculty</p>
      <p>The Heart of our project</p>
      
    </div> 
</div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="views\image\Rafshan.jpg" alt="Jane" style="width:100%">
      <h3>Rafshan</h3>
      <p class="w3-opacity">Customer Everything Lead</p>
      <p>I have worked on the customer login,registration, UI design,Order Processing, Flat Booking , Filter Flats based on the are these sort of tasks.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="views\image\Anik.jpg" alt="Mike" style="width:100%">
      <h3>Habibur Rahman</h3>
      <p class="w3-opacity">Admin Everuthing</p>
      <p>I have worked on the Admin login,Order Processing these sort of tasks.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="views\image\Shan.jpg" alt="Dan" style="width:100%">
      <h3>Rafiul Saan
    </h3>
      <p class="w3-opacity">Home Owner Controller</p>
      <p>Wokred on the home owner issues</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
  </div>

  <div class="w3-col l3 m6 w3-margin-bottom">
    <img src="/w3images/team4.jpg" alt="Dan" style="width:100%">
    <h3>Mortuja Morshed Arnob

  </h3>
    <p class="w3-opacity">Home Owner Controller</p>
    <p>Wokred on the home owner issues</p>
    <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
  </div>
</div>

  <!-- Contact Section -->
  
<!-- Image of location/map -->
<div class="w3-container">
  <img src="views\image\map.jpg" class="w3-image" style="width:100%">
</div>

<!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
</footer>

</body>
</html>


<div ng-include="'views/inc/footer.html'"></div>
